<%- include('../partials/head') %>
<link rel="stylesheet" href="assets/css/about-us.css">
<title><%= pageTitle %> - <%= siteTitle %></title>
</head>
<body>
<%- include('../partials/nav') %>
<header>
  <h1>About Extra Goo Cosmetics</h1>
  <div class="image-container">
    <img class="mobileHide" src="https://picsum.photos/300/300" alt="Filler Photo">
    <img class="mobileHideTwo" src="https://picsum.photos/300/300" alt="Filler Photo">
    <img src="https://picsum.photos/300/300" alt="Filler Photo">
  </div>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, saepe, nemo adipisci dolorum laudantium nobis est ullam tenetur dignissimos ad aperiam omnis impedit sapiente molestias, deleniti exercitationem fugit voluptates excepturi illum facere culpa illo repudiandae velit! Quo nulla error repudiandae harum distinctio consectetur provident cupiditate necessitatibus, nihil sequi quasi quae, quas temporibus! Ipsum odio magni possimus tempora eaque hic temporibus?</p>
</header>
<div class="divider"></div>
<h1 class="founderTitle">Extra Goo Founders</h1>
<div class="cardContainer">
  <div class="arianaCard">
    <img src="https://picsum.photos/175/175" alt="Filler Photo">
    <h1>Ariana</h1>
    <p>(INSERT BIO AND INFO HERE) <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ex quas laboriosam vel, autem impedit architecto inventore facere aliquam ad?</p>
    <p>(Optional Social Media Link)</p>
  </div>
  <div class="juliaCard">
    <img src="https://picsum.photos/175/175" alt="Filler Photo">
    <h1>Julia</h1>
    <p>(INSERT BIO AND INFO HERE) <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ex quas laboriosam vel, autem impedit architecto inventore facere aliquam ad?</p>
    <p>(Optional Social Media Link)</p>
  </div>
</div>
<%- include('../partials/footer') %>