<%- include('../partials/head') %>
<link rel="stylesheet" href="assets/css/index.css">
<title><%= pageTitle %> - <%= siteTitle %></title>
</head>
<body>
<%- include('../partials/nav') %>
<h1>Contact</h1>
<%- include('../partials/footer') %>