<%- include('../partials/head') %>
<link rel="stylesheet" href="assets/css/contact-us.css">
<title><%= pageTitle %> - <%= siteTitle %></title>
</head>
<body>
<%- include('../partials/nav') %>
<div class="contactContainerOne">
  <div class="innerContainerOne">
    <h1>Where Can You Find Our Products?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis excepturi fugit, quisquam natus sunt atque! At quam autem culpa ipsa soluta, deserunt, expedita sunt deleniti perspiciatis, ducimus pariatur molestiae consequatur nemo eius. Hic itaque, illo eaque voluptatibus, voluptate vero harum porro aspernatur aliquid impedit quo inventore molestiae incidunt! Alias officiis sed ipsam dolore atque excepturi aperiam modi quam consequatur!</p>
  </div>
  <img src="https://www.picsum.photos/400/400" alt="Filler Photo">
</div>
<div class="contactContainerTwo">
  <img src="https://www.picsum.photos/400/400" alt="Filler Photo">
  <div class="innerContainerTwo">
    <h1>Questions? Shoot Us An Email</h1>
    <p>We want to here from you! Shoot us an email at <a href="mailto:extragoocosmetics@gmail.com">extragoocosmetics@gmail.com</a> and we will get back to you as soon as we can!</p>
  </div>
</div>
<div class="contactContainerThree">
  <div class="innerContainerThree">
    <h1>Frequently Asked Questions</h1>
    <div class="questionContainer">
      <p><span class="bold">Q:</span> Lorem ipsum dolor sit amet?</p>
      <p><span class="bold">A:</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi iusto sapiente autem mollitia veritatis.</p>
    </div>
    <div class="questionContainer">
      <p><span class="bold">Q:</span> Lorem ipsum dolor sit amet?</p>
      <p><span class="bold">A:</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi iusto sapiente autem mollitia veritatis.</p>
    </div>
    <div class="questionContainer">
      <p><span class="bold">Q:</span> Lorem ipsum dolor sit amet?</p>
      <p><span class="bold">A:</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi iusto sapiente autem mollitia veritatis.</p>
    </div>
  </div>
  <img src="https://www.picsum.photos/400/400" alt="Filler Photo">
</div>
<%- include('../partials/footer') %>