<%- include('../partials/head') %>
<link rel="stylesheet" href="assets/css/index.css">
<title><%= pageTitle %> - <%= siteTitle %></title>
</head>
<body>
<%- include('../partials/nav') %>
<header class="indexHeader">
  <img class="logo" src="assets/images/logo.svg" alt="Extra Goo Logo">
  <p class="indexTagLine">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod a, placeat eius dolorum praesentium fugit beatae ad aspernatur fugiat quae sequi nam iste quas aliquid, maiores eveniet, esse impedit perferendis autem voluptas molestiae. Ad fugit expedita fugiat, necessitatibus quisquam, nemo, natus ullam accusantium temporibus dolore vitae omnis pariatur deleniti hic.</p>
</header>
<div class="divider"></div>
<section class="offer">
  <div class="offerTitle">What We Offer</div>
  <div class="offerContent">
    <div class="offerOne">
      <img src="https://picsum.photos/200/300" alt="Filler Image One">
      <h1>Offer 1</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatum vel quaerat, nulla placeat aperiam beatae nihil dolores voluptatibus in nesciunt, alias optio nostrum! Iure corporis nobis enim? Doloremque, consequuntur?</p>
    </div>
    <div class="offerTwo">
      <img src="https://picsum.photos/200/300" alt="Filler Image Two">
      <h1>Offer 2</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam quibusdam, minima consequuntur consequatur quam numquam alias earum assumenda voluptatem. Quidem accusantium, saepe laudantium sint iusto cumque adipisci voluptatibus aut natus!</p>
    </div>
    <div class="offerThree">
      <img src="https://picsum.photos/200/300" alt="Filler Image Three">
      <h1>Offer 3</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cumque maiores accusantium illum velit deleniti voluptate ipsam corporis distinctio perspiciatis qui quisquam placeat, eveniet quod nam autem fugit animi! Earum?</p>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>